In [2]:
# Importuję biblioteki do procesowania i wizualizacji
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Wczytuję dane

df = pd.read_csv('../data/processed/job_offers_processed_2023_03_31.csv',sep=";", encoding='ISO-8859-1')
df.head()

,position,technology,company,wage min,wage max,currency,city,location_country,is_senior
0,Spark(Java or Scala) Developer,Spark,ComScore,20000,25000,PLN,Zdalnie,NaN,0
1,Data Engineer,Python,People More P.S.A.,25000,33000,PLN,Zdalnie,NaN,0
2,Data Scientist,SQL,Justtag Group,14000,18000,PLN,Warszawa,Polska,0
3,Solutions Architect,SQL,Crestt,22000,28000,PLN,Warszawa,Polska,0
4,Data Engineer,SQL,Falck IT Poland Sp. z o.o.,16000,18000,PLN,Warszawa,Polska,0

In [10]:
# Odpowiedź na pytanie: "Ile jest ofert na dany typ stanowisko na rynku"

job_offers = df.groupby(by=['job']).size()

print(job_offers)
job_offers.plot.bar()

KeyError: 'job'

In [ ]:
# Odpowiedź na pytanie: "Ile ofert danego typu występuje w rozbiciu na różne miasta"

offers_by_city = df.groupby(by=['location_city', 'job']).size()

print(offers_by_city)
offers_by_city.sort_values().plot.bar()

In [ ]:
# Odpowiedź na pytanie: "Jakie średnie widełki obejmuje każdy typ stanowiska"

offer_salary = df.groupby(by=['job']).agg({'salary_avg': 'mean', 'name': 'count'})
offer_salary.sort_values(by=['salary_avg'], inplace=True)
offer_salary.rename(columns={'name':'count'}, inplace=True)

print(offer_salary)
offer_salary.plot(subplots=True, layout=(1, 2), kind='bar')

In [ ]:
# Odpowiedź na pytanie: "Jaki jest średni koszt zatrudnienia osoby na danym stanowisku w określonym mieście"

offer_salary_by_city = df.groupby(by=['location_city']).agg({'salary_avg': 'mean', 'name': 'count'})
offer_salary_by_city.sort_values(by=['salary_avg'], inplace=True)
offer_salary_by_city.rename(columns={'name':'count'}, inplace=True)

offer_salary_by_city

In [ ]:
# Rozkład wynagordzenia per miatso per stanowisko w formie tabelif
df.pivot_table(index='location_city', columns='job', values='salary_avg').plot(kind='bar')

In [ ]:
# Rozkład widełek w zależności od zawodu i poziomu doświadczenia
salary_by_senior = df.groupby(by=['job', 'is_senior']).agg({'salary_avg': 'mean', 'name': 'count'})
salary_by_senior